@import url('https://fonts.cdnfonts.com/css/roboto-mono');

:root {
  
  /* based on default theme */

  /* palette */
  --primary-color-bg: #F7F7F7;
  --secondary-color-bg: #DDDDDD;
  --primary-color-ui: #D43316;
  --secondary-color-ui: #f7ca18;
  --primary-color-text: #303030;

  /* overrides */
  --sn-stylekit-monospace-font: 'Roboto Mono', monospace;
  --sn-stylekit-info-color: var(--primary-color-ui);
  --sn-stylekit-info-contrast-color: white;
  --sn-stylekit-accessory-tint-color-1: var(--primary-color-ui);

  --sn-stylekit-background-color: var(--primary-color-bg);
  --sn-stylekit-foreground-color: var(--primary-color-text);
  --sn-stylekit-contrast-foreground-color: var(--primary-color-text);
  --sn-stylekit-secondary-background-color: var(--primary-color-text);
  --navigation-item-selected-background-color: var(--secondary-color-ui);

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

}


#navigation .tag.selected>.tag-info>.title, 
#navigation .tag:hover:not(.selected), 
#navigation .root-drop:hover:not(.selected){
  color: var(--primary-color-text);
  -webkit-text-fill-color: var(--primary-color-text);
}
